<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>林柏君履歷</title>

	<script>

		$(document).ready(function(){

			$("#PICTURE").hover(function(){

				$("#PICTURE").attr("src","d:/static/images/hollandcode.png");

			});

			$("#PICTURE").click(function(){

				$("#PICTURE").hide();

				$("#PICTURE").fadeIn("slow")

			});

		});

	</script>


</head>

<body>
                    <h3 class="row-lg-2">Holland Code</h3>
                    <img src="hollandcode.png" alt="照片" id="PICTURE">
	
</body>

</html>